@{
    ViewData["Title"] = "Home Page";
}
<link rel="stylesheet" type="text/css" href="/css/CascadingStyleSheets.css">
<form action="" class="box-cadastro">
    <h1>Cadastrar funcionario</h1>

    <div class="row">
        <div class="box-input">
            <label for="">Nome</label>
            <input type="text" name="nome" id="nome">
        </div>

        <div class="box-input">
            <label for="">Email</label>
            <input type="email" name="nome" id="nome">
        </div>
    </div>

    <div class="row">

        <div class="box-input">
            <label for="">CPF</label>
            <input type="number" name="cpf" id="cpf">
        </div>

        <div class="box-input">
            <label for="">Cargo</label>
            <select name="cargo" id="cargo">
                <option value="funcionario">Funcionario</option>
                <option value="visitante">Visitante</option>
                <option value="gerente">Gerente</option>
            </select>
        </div>
    </div>

    <button>Cadastro</button>

</form>
