@{
    ViewData["Title"] = "Home Page";
}

<link rel="stylesheet" type="text/css" href="/css/CascadingStyleSheets.css">

<div class="full-box">
    <img src="https://img.freepik.com/vetores-premium/icone-de-temporizador-de-relogio-de-desenho-vetorial-em-estilo-comico-ilustracao-de-conceito-de-alarme-de-tempo-pictograma-conceito-de-efeito-de-respingo-de-negocios-de-relogio-de-cronometro_157943-5761.jpg?w=740" alt="">

    <form action="">
        <h1>
            Login
        </h1>

        <div class="box-input">
            <label for="">Email</label>
            <input type="email" name="email" id="email">
        </div>

        <div class="box-input">
            <label for="">Senha</label>
            <input type="password" name="senha" id="senha">
        </div>

        <button>Login</button>

        <p>Novo usuário?<strong> <a href="">Crie sua conta!</a></strong></p>

    </form>

</div>